*{
    padding:0%;
    margin:0%;
}
nav{
    background-color:green;
    color: sandybrown;
    padding: 15px;
    box-shadow: 0 0 20px;
    
}

ul,li,h1{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: skyblue;
}
li:hover{
    color: blue;
}

.name{
    margin-left:45% ;
    margin-right:30%;
}

.detail{
    background-color:black;
    color: white;
    display: flex;
    display: inline-block;
    width: 95%;
    padding: 10px;
    box-shadow: 0 0 20px;
    padding-left: 5%;
    border-radius: 20%
    
    
     
}
.boxs{
    display:inline-block;
    border-width: 500px;
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 100px;
    
} 
.skill{
    margin-top: 5%;
    color: red;
    margin-left: 20px;
}
body{
    background-color: aqua;
}
.contact{
    background-color:greenyellow;
    color: black;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
}